.button {
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.button.-compact {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #ff8835;
  color: #fff;
  font-weight: bold;
}

.button.-big {
  padding: 1rem 2rem;
  border-radius: 5rem;
  background-color: #ff8835;
  color: #fff;
  font-weight: bold;
}

.button.-compact:hover,
.button.-compact:focus {
  background-color: #f2aa77;
}

.button.-big:hover,
.button.-big:focus {
  background-color: #f2aa77;
}
